<div class="top_title">
  <h1>下記の注文が入ってます。</h1>
</div>
<div class="container">
  <%= @item.name %>
  <%= form_with model:@item_order, url:item_order_path(@order.id), local: true, method: :patch do |f| %>
    <%= render 'shared/error_messages', model: f.object %>
    注文ステータス:<br>
    <%= f.collection_select(:order_status_id, OrderStatus.all, :id, :name, {}, {class:"select-box", id:"order-status"}) %><br>
    注文コメント:<br>
    <%= f.text_area :order_comment, class:"order-text", id:"order-info", placeholder:"商品の説明（任意 1,000文字まで）例)レシピや商品に対するコメント等" %>
    <br>
    残在庫:<br>
    <%= f.text_field :quantity, class:"price-input3", id:"item-price3", placeholder:@item.quantity  %>
    <br><br>
    <%= f.submit "ステータス更新" ,class: :"btn btn-info btn-lg" %>
  <% end %>
</div>