  <%= form_with model: item, local: true do |f| %>
    <%= render 'shared/error_messages', model: f.object %>
      <div class="img-upload">
          商品画像
          <p>クリックしてファイルをアップロード</p>
          <div id="previews"></div>
          <%= f.file_field :image, id:"item-image" %>
      </div>
      <div class="form-group col-md-4">
        商品名(必須):
        <%= f.text_field :name, class: 'form-control', id:"item-name", placeholder:"商品名（必須 40文字まで)", maxlength:"40" %><br>
      </div>
      <div class="form-group">
        商品分類(必須):
        <%= f.collection_select(:item_class_id, ItemClass.all, :id, :name, {}, {class:"item-class-select"}) %><br><br>
      </div>
      <div class="form-group col-md-8">
        商品の説明(任意)
        <%= f.text_area :explanation, class: 'form-control', rows: 3, id:"item-info", placeholder:"商品の説明（任意 1,000文字まで）例)レシピや商品に対するコメント等" %>
      </div>
      <div class="form-group col-md-4">
        購入先<br>
        <%= f.text_field :retailer, class:"form-control", id:"item-retailer", placeholder:"例）西友ネットスーパー" %>
      </div>
      <div class="form-group col-md-4">
        価格(¥1〜10,000)(任意)<br>
        <span class="sell-yen">¥</span>
        <%= f.text_field :price, class:"form-control", id:"item-price", placeholder:"例）300" %>
      </div>

      <div class="form-group col-md-4">
        在庫(0〜100)(必須)
        <span class="sell-num">個</span>
        <%= f.text_field :quantity, class:"form-control", id:"item-quantity", placeholder:"例）5" %>
      </div>
      <%= f.submit "登録する" ,class:"submit-btn" %>
    <% end %>