<% breadcrumb :root %>
<% if user_signed_in? %>
  <p><%= "#{current_user.nickname}さんがログインしています。" %></p>
  <div class="nav__right">
      <%= link_to "ログアウト", destroy_user_session_path, method: :delete, class:"btn btn-outline-primary btn-lg" %>
      <%= link_to "マスター管理", new_item_path, class:"btn btn-outline-success btn-lg" %>
      <%= link_to "オーダークリア", destroy_all_order_items_path, method: :delete,data: { confirm: '削除しますか?' }, class:"btn btn-outline-danger btn-lg" %>
      <%= link_to "詳細検索", search_items_path, class:"btn btn-outline-success btn-lg" %>
      <%= link_to "スケジュール表", schedules_path, class:"btn btn-outline-secondary btn-lg" %>
      <%= link_to "在庫一括修正", all_edit_items_path, class:"btn btn-outline-info btn-lg" %>
      <%= link_to "新機能検証用", new_release_items_path, class:"btn btn-outline-dark btn-lg" %>
  </div>
<% else %>
  <div class="nav__right">
    <div class="menu-btn">
      <%= link_to "ログイン", new_user_session_path, class: :"btn btn-primary btn-lg" %>
    </div>
    <div class="menu-btn2">
      <%= link_to "新規登録", new_user_registration_path, class: :"btn btn-success btn-lg" %>
    </div>
  </div>
<% end %>
<br>
<% if user_signed_in? %>
  <div class='search-bar-contents'>
    <%= search_form_for Item.ransack(params[:q]), url: search_items_path, html: {class: "search-form"} do |f| %>
      <%= f.text_field :name, placeholder: '商品名から探す', class: 'input-box' %>
      <br>
      <%= f.label :item_class_id_in, '商品分類:' %>
      <%= f.collection_check_boxes(:item_class_id_in, ItemClass.all, :id, :name ) %>
      <%= f.label :submit, class: "search-button" do %>
        <input type="submit" value="検索" class="btn btn-info">
        <%= f.submit :submit, id: "q_submit", style: "display: none;"%>
      <% end %>
    <% end %>
  </div>
  <p>注文中の商品</p>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <% @orders.each do |order| %>
          <div class="col">
            <div class="card shadow-sm">
              <%= link_to edit_item_order_path(order.item.id,order.id) do %>
                <div class="bd-placeholder-img card-img-top">        
                  <%= image_tag order.item.image.variant(resize: '200x200') %>
                </div>
                <div class="not_order">
                  <%= order.order_status.name %>
                </div>
              <% end %>
              <div class="card-body">
                商品名:<%= order.item.name %><br>
              </div>
              <div class="card-body">
                分類:<%= order.item.item_class.name %><br>
              </div>
              <div class="card-body">
                商品説明:
                <%= order.item.explanation %></div>
              <div class="card-body">
                在庫:<%= order.item.quantity %></div>
            </div>
          </div>
        <% end %>
      </div>
  </div>
  <p>注文可能商品一覧</p>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <% @items.each do |item| %>
          <%# 注文中の商品以外を表示させる %>
          <% if item.order == nil %>
            <div class="col">
              <div class="card shadow-sm">
                <%= link_to item_path(item.id) do %>
                  <div class="bd-placeholder-img card-img-top">
                    <%= image_tag item.image.variant(resize: '200x200') %>
                    <% if item.quantity == 0 %>
                      <div class="not_order">
                        在庫無し
                      </div>
                    <% end %>
                  </div>
                <% end %>
                <div class="card-body">
                  商品名:<%= item.name %><br>
                </div>
                <div class="card-body">
                  分類:<%= item.item_class.name %><br>
                </div>
                <div class="card-body">
                  商品説明:
                  <%= item.explanation %></div>
                <div class="card-body">
                  在庫:<%= item.quantity %></div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
<% end %>
