<div class="top_title">
  <h1>商品マスターの登録</h1>
</div>
 <div>
    <div>商品の情報を入力      <%= link_to 'もどる', root_path, class:"back-btn" %></div>
    <%= form_with model: @item, url:items_path, local: true do |f| %>
    <%= render 'shared/error_messages', model: f.object %>

    <div class="img-upload">
        商品画像
        <p>クリックしてファイルをアップロード</p>
        <%= f.file_field :image, id:"item-image" %>
    </div>
    <div class="new-items">
        商品名(必須)
    </div>
      <%= f.text_field :name, class:"items-name", id:"item-name", placeholder:"商品名（必須 40文字まで)", maxlength:"40" %>
        <div>商品の説明(任意)></div>
        <div>
          <%= f.text_area :explanation, class:"items-text", id:"item-info", placeholder:"商品の説明（任意 1,000文字まで）例)レシピや商品に対するコメント等" %>
        </div>
        <div>購入先<br></div>
        <div>
          <%= f.text_field :retailer, class:"price-input", id:"item-price", placeholder:"例）西友ネットスーパー" %>
        </div>

    <div>価格<br>(¥1〜10,000)(任意)</div>
      <div>
        <span class="sell-yen">¥</span>
        <%= f.text_field :price, class:"price-input2", id:"item-price2", placeholder:"例）300" %>
      </div>

      <div>在庫<br>(0〜100)(必須)</div>
      <div>
        <span class="sell-num">個</span>
        <%= f.text_field :quantity, class:"price-input3", id:"item-price3", placeholder:"例）5" %>
      </div>
      <%= f.submit "登録する" ,class:"submit-btn" %>
    <% end %>
</div>