<h3>検索ページ</h3>
<h3><%= link_to 'トップページへ戻る', root_path%></h3>
<div class='item-contents' id="detailed-search-result-wrapper">
  <%= search_form_for @q, url: search_items_path, html: {id: "detailed-search-form"} do |f| %>
    <div class="search-field">
      <%= f.label :name, '商品名' %>
      <br>
      <%= f.text_field :name, placeholder: '商品名', value: params[:q]&.dig(:name) %>
    </div>
    <div class="search-field">
      <%= f.label :item_class_id_in, '商品分類' %>
      <br>
      <%= f.collection_check_boxes(:item_class_id_in, ItemClass.all, :id, :name) %>
    </div>
    <%= f.submit '検索' %>
  <% end %>
<% if user_signed_in? %>
  <p>注文中の商品</p>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <% @orders.each do |order| %>
          <div class="col">
            <div class="card shadow-sm">
              <%= link_to edit_item_order_path(order.item.id,order.id) do %>
                <div class="bd-placeholder-img card-img-top">        
                  <%= image_tag order.item.image.variant(resize: '200x200') %>
                </div>
                <div class="not_order">
                  <%= order.order_status.name %>
                </div>
              <% end %>
              <div class="card-body">
                商品名:<%= order.item.name %><br>
              </div>
              <div class="card-body">
                分類:<%= order.item.item_class.name %><br>
              </div>
              <div class="card-body">
                商品説明:
                <%= order.item.explanation %></div>
              <div class="card-body">
                在庫:<%= order.item.quantity %></div>
            </div>
          </div>
        <% end %>
      </div>
  </div>
  <p>注文可能商品一覧</p>
  <div class="album py-5 bg-light">
    <div class="container">
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
        <% @items.each do |item| %>
          <%# 注文中の商品以外を表示させる %>
          <% if item.order == nil %>
            <div class="col">
              <div class="card shadow-sm">
                <%= link_to item_path(item.id) do %>
                  <div class="bd-placeholder-img card-img-top">        
                    <%= image_tag item.image.variant(resize: '200x200') %>
                    <% if item.quantity == 0 %>
                      <div class="not_order">
                        在庫無し
                      </div>
                    <% end %>
                  </div>
                <% end %>
                <div class="card-body">
                  商品名:<%= item.name %><br>
                </div>
                <div class="card-body">
                  分類:<%= item.item_class.name %><br>
                </div>
                <div class="card-body">
                  商品説明:
                  <%= item.explanation %></div>
                <div class="card-body">
                  在庫:<%= item.quantity %></div>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
<% end %>
</div>