<div class="top_title"><%= @item.name %></div>
<div class="container">
  <div class="item_image">
    <%= image_tag @item.image.variant(resize: '300x300') %>
    <% if @item.quantity == 0 %>
      <div class="not_order">
        在庫無し
      </div>
    <% end %>
  </div>

  <div>[商品説明]</div>
  <div><%= @item.explanation %></div>
  <div>[購入先]</div>
  <div><%= @item.retailer %></div>
  <div>●在庫:<%= @item.quantity %></div>
  <div>[情報登録者]</div>
  <div><%= @item.user.nickname %></div>
  <br>
  <% if @item.quantity != 0 %>
    <%= link_to "注文画面に進む", item_orders_path(@item.id) ,class: :"btn btn-primary btn-lg" %>
  <% end %>

  <% if @item.user.id == current_user.id %>
    <%= link_to "商品を編集する", "#" ,class: :"btn btn-success btn-lg" %>
    <%= link_to "商品を削除する", item_path(@item.id), method: :delete, data: { confirm: '削除しますか?' }, class: :"btn btn-danger btn-lg" %>
  <% end %>
</div>
